@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
  transition: .5s ease;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
#topnav .navigation-menu > li{
  margin: 0 !important;
}
#topnav .navigation-menu.nav-light > li > a{
  color: rgba(255,255,255,1) !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
}

html,body{
  
  scroll-behavior: smooth;
}

@media (max-width:650px) {
  
}


.table_of_content{
  margin:0;
  overflow-x: visible;
  border-left-width: 3px;
  border-left-color: #818cf844;
}

.table_of_content a:focus{
  position: relative;
  color:#818cf8 !important;
  font-weight: bold;
}
.table_of_content a:focus:before{
  content: '';
  position: absolute;
  left: -18px;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #818cf8 ;  
  z-index: 2;
}